<div class="widget">
  <span>image container - image type:
    <select (change)="onImageTypeChange($event)">
      <option value="0" [selected]="imageContainer.imageType === 0 ? 'selected' : ''">Image</option>
      <option value="1" [selected]="imageContainer.imageType === 1 ? 'selected' : ''">Flag</option>
      <option value="2" [selected]="imageContainer.imageType === 2 ? 'selected' : ''">Icon</option>
    </select>
  </span>

  <div class="content">
    <div class="imagecontainer-formula-input">
      {{ formulaInputLabel() }}<app-textinput [value]="getFormula()"
        (change)="onFormulaChange($event)" [monospace]="true"></app-textinput>
    </div>
    <img src="assets/image404.png">
  </div>
</div>
