<div class="widget">
  <span>map - disabled:
    <input type="checkbox" [checked]="map.disabled ? 'checked' : ''"
      (change)="onDisabledChange($event)">
  </span>

  <div class="content">
    <div class="map-inputs">
      <span>coordinate formula: </span><input type="text" [value]="map.coordinate?.formula || ''"
        (change)="onCoordinateChange($event)" class="monospace">
      <span>tile layer: </span><input type="text" [value]="map.tileLayer || ''"
        (change)="onTileLayerChange($event)" class="monospace">
      <span>attribution: </span><input type="text" [value]="map.attribution || ''"
        (change)="onAttributionChange($event)" class="monospace">
    </div>
    <img src="assets/image404.png">
  </div>
</div>
