app-chart-data {
    display: block;
    width: 100%;
}

.chart-data {
    width: 100%;
    display: flex;
    border: 2px solid #aeb;
    border-radius: 2px;
}

.chart-data input, .chart-data select {
    height: 23px;
    outline: none;
}
