app-report {
    display: block;
    width: 100%;
}

app-report > .content {
    padding: 0;
}

.report-title {
    background-color: #aeb;
    padding: 1px 6px;
    margin-bottom: 4px;
    border-radius: 4px;
}
