app-image {
    display: block;
    width: 100%;
}

.image-formula-input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-formula-input > app-textinput {
    margin-left: 4px;
    width: 60%;
}
